---
import '$styles/index.css';
import settings from '$data/settings';

export interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  canonicalURL?: URL | string;
  image?: string;
}

const title = Astro.props.title || settings.title;
const description = Astro.props.description || settings.description;
const keywords = Astro.props.keywords || settings.keywords;
const canonicalURL = Astro.props.canonicalURL || new URL(Astro.url.pathname, Astro.site);
const image = new URL(Astro.props.image || '/images/glass.png', Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<!-- settingsmap -->
<link rel="settingsmap" href="/settingsmap.xml" />

<!-- Canonical -->
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<!-- Google Fonts -->
<!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style" />
<noscript>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
</noscript>
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" as="style" />
<noscript>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" type="text/css" />
</noscript> -->

<!-- Preload important assets -->
<!-- <link rel="preload" href="/mobile.riv" as="fetch" crossorigin="anonymous" /> -->

<!-- <script src="https://cdn.skypack.dev/@hotwired/turbo"></script> -->

<script>
  import * as Sentry from '@sentry/browser';

  Sentry.init({
    dsn: 'https://85e55910844a48c3b81db2a18baa007e@o4504951835983872.ingest.sentry.io/4504951865475072',
    integrations: [new Sentry.BrowserTracing()],

    // Set tracesSampleRate to 1.0 to capture 100%
    // of transactions for performance monitoring.
    // We recommend adjusting this value in production
    tracesSampleRate: 1.0,
  });

  // @ts-ignore
  myUndefinedFunction();
</script>

<!-- LocalStorage Theme Check -->
<script>
  if (
    localStorage.getItem('color-theme') === 'dark' ||
    (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark');
  }
</script>

<script>
  import 'flowbite';
</script>

<!-- Google tag (gtag.js) -->
<script async type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-BQJLEM0TPE"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-BQJLEM0TPE');
</script>
