---
import { getSanityImageURL, removeExt } from '$lib/sanity.image';
import type { Post } from '$lib/sanity.queries';
import { Image } from '@astrojs/image/components';

export interface Props {
  post: Post;
  path: string;
}

const { post, path } = Astro.props;
---

<article class="pt-8">
  <div class="mb-5">
    <h3 class="mb-3 text-3xl leading-snug">
      <a href={`/${path}/${post.slug}`}>
        {
          post.mainImage && (
            <Image
              width={720}
              height={420}
              alt={post.mainImage.asset.altText || removeExt(post.mainImage.asset.originalFilename)}
              loading="lazy"
              src={getSanityImageURL(post.mainImage).url()}
            />
          )
        }
        {post.title}
      </a>
    </h3>
    {post.description && <p class="mb-4 text-lg leading-relaxed">{post.description}</p>}
  </div>
</article>
