---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

export interface Props {
  post: CollectionEntry<'posts'>;
  path: string;
}

const { post, path } = Astro.props;
---

<article class="pt-8">
  <div class="mb-5">
    <h3 class="mb-3 text-3xl leading-snug">
      <a href={`/${path}/${post.slug}`}>
        {
          post.data.featuredMedia?.discriminant === 'image' && post.data.featuredMedia?.value.asset && (
            <Image
              width={720}
              height={420}
              alt={post.data.featuredMedia?.value?.alt || ''}
              loading="lazy"
              src={post.data.featuredMedia?.value.asset}
            />
          )
        }
        {post.data.title}
      </a>
    </h3>
    {post.data.description && <p class="mb-4 text-lg leading-relaxed">{post.data.description}</p>}
  </div>
</article>
