---
import PortableText from './PortableText.astro';
import { getSanityImageURL, formatBlogPostDate } from '$lib/sanity';
import { Image } from '@astrojs/image/components';

export interface Props {
  post: any;
}

const { post } = Astro.props;

// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);
---

<article class="p-1">
  {
    post.mainImage && (
      <Image
        width="720"
        height="420"
        alt="yes"
        class="h-auto w-full"
        loading="lazy"
        src={getSanityImageURL(post.mainImage).url()}
      />
    )
  }
  <h1>{post.title}</h1>
  <time>{formatBlogPostDate(post.publishedAt)}</time>
  {post.author && <p>By {post.author.name}</p>}
  <PortableText portableText={post.body} />
</article>
